# Auth for private GitLab registry modules
@my-scope:registry=https://${gitlab_instance_url}/api/v4/packages/npm/
//${gitlab_instance_url}/api/v4/packages/npm/:_authToken=${GL_REGISTRY_TOKEN}

# Auth for private npm modules
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
